::-webkit-scrollbar {
    display: none;
}

.cursor {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
}

img {
    width: 10px;
    height: 10px;
}

* {
    margin: 0;
    padding: 0;
}